*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  overflow: hidden;
}

html{
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #88888800;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0);
  border-radius: 6px;
}